<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>GOOGLE_API_KEY</key>
    <string>YOUR_GOOGLE_API_KEY</string>
    <key>GOOGLE_CX</key>
    <string>YOUR_GOOGLE_CX</string>
    <key>SETLISTFM_API_KEY</key>
    <string>YOUR_SETLISTFM_API_KEY</string>
    <key>BANDSINTOWN_APP_ID</key>
    <string>YOUR_BANDSINTOWN_APP_ID</string>
    <key>TICKETMASTER_API_KEY</key>
    <string>YOUR_TICKETMASTER_API_KEY</string>
</dict>
</plist>
